<div class="container-fluid">
    <div class="search">
    <a routerLink='/search' routerLinkActive='active'>look an account</a>
    </div>
    <div *ngIf="users">
          <div class="row">
            <div class="col-md-3">
             <div class="avatar">
              <img src="{{users.avatar_url}}" class="img-circle" alt="">
              <ul class="list-group" id="email">
                <p class="names"><span class="glyphicon glyphicon-user"></span>  {{users.login}} <small>{{users.name}}</small></p>
                <li class="list-group-item" *ngIf="users.email" id="emailocation">Email-Address: <a href="{{users.email}}" target="_blank"> {{users.email}} </a></li>
                <li class="list-group-item" *ngIf="users.location" id="emailocation">Location: <b>{{users.location}}</b></li>
                <li class="list-group-item" *ngIf="users.created_at" id="emailocation">Account created on: <b>{{users.created_at | date}}</b></li>
              </ul>
            </div>
            </div>
            <div class="addition">
    
            </div>
            <div class="col-sm-5" id="repo-part">
    
    
                  <span  id="labels">{{users.followers}} Followers</span><br><br>
                  &nbsp;
                  <span  id="labels">{{users.following}} Following</span><br><br>
                  &nbsp;
                  <span  id="labels">{{users.public_repos}} Repositories</span><br>
                  &nbsp;
    
                <br>
                <br>
                <p><a href="{{users.html_url}}" target="_blank" class="btn btn-success btn-sm" id="view"> search for the particular repositories on Github pages &nbsp; <span class="kelly"></span></a></p>
    
    
    
            </div>
            <div class="repo">
            <app-repos></app-repos>

            </div>
        </div>
      </div>
    </div>

